body{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;

}

#container {
    font: 12px Arial;
    color: white;
    position: absolute;
}


/* css for d3 */
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line{
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
text{
    fill: white
}

.legend {
    font-size: 14px;
    font-weight: bold;
    text-anchor: middle;
}

#current_network{

    position: absolute;
    color: white; /* font color */
    /*background: #363636; !* 글자 안의 배경 *!*/
    /*border-radius: 16px; !* 글자 배경의 폭 *!*/
    margin: 0 4px 1em 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
    display: inline-block;
    top: 65px;
    left: 1%;
    margin-bottom: 10px

}

.community_container, .candidate_container{
    padding-top: 15px;
    border-radius: 10px;

}

#candidates_images {
    width: 6vw;
    left: 2%;
    /*top: 15%;*/
    top: 120px;
    position: absolute;
    /*width: 120px;*/
    /*height: 400px;*/
}

#communities_images {
    width: 6vw;
    left: 9%;
    /*top: 15%;*/
    top: 120px;
    position: absolute;
    margin-left: 20px;

    /*width: 100px;*/
}

.network_btn, .root_network {
    margin: 0 auto;
    margin-bottom: 10px;
    /*margin-left: 5px;*/
    filter: grayscale(100%);
    transition: .3s ease-in-out;
    border-radius: 20px;
    /*transform: scale(0.9);*/

}

img.root_network{
    display:block;
    width: 2.5vw;
    margin-left: auto;
    margin-right: auto;

    max-height: 100%;
    max-width: 100%;
}


img.network_btn {
    display: block;
    width: 2.5vw;
    max-height: 90%;
    max-width: 90%;
    /*max-height: 100%;*/
    /*max-width: 100%;*/

}

.network_btn:hover ,.root_network:hover {
    margin-bottom: 20px;
    transform: scale(1.15);
    filter: grayscale(0);
}


.keys {
    position: absolute;
    transform: scale(0.5);
    bottom: 0;
    right: 0;
    opacity: 0.7;

}

#setting {
    position:absolute;
    top: 50px;
    right: 0%;
}

.close-button{
    visibility: hidden;
}

.dg.a{
    position:absolute;
    /*top:5vh;*/
    right: 0%
}

.logo {
    padding: 3px 3px 3px 3px;
    margin-right: 5px;
    margin-top: 3px;
    width:40px;
    height: 40px;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 6vh; /* Location of the box */
    left: 0;
    /*top: 4%;*/
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


    transition: all 0.3s ease-out;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid transparent;
    width: 50%;
    overflow: auto;

    background-color: #333; /* Black w/ opacfity */
    opacity: .9;
    box-shadow: 0 3px 40px 6px rgba(0,0,0,.4);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #ddd;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}

.modal-body {
    padding: 2px 16px;
    color: #ddd;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid transparent;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}

section{
    margin-bottom: 30px
}

/* Responsive Text size */
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
    }
}
@media all and (max-width: 800px) { /* screen size until 800px */
    body {
        font-size: 1.0em; /* 1.2x default size */
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }
}
/* ***************************** */
#timeLine {
    background: url("../img/timeLine5.png") no-repeat;
    /*background: url("img/timeLine4.png") no-repeat;*/
    /*background: url("img/timeLine3.png") no-repeat;*/
    /*background: url("img/timeLine2.png") no-repeat;*/
    background-size: 90%;
    /*background-position: 20px -10px;*/
    background-position: center top;
    position:absolute;
    bottom: 1.9vh;
    left: 35vw;
    width: 25vw;
    height: 7.5vh;
    margin-bottom:0;

    padding: 0;

}
li.time{
    float: left;
    display: block;
    color: white;
    padding-top: 4vh;
    width: 11.25%;
    /*padding-right: 2.8vw;*/
    text-align: center;

}


#checked {
    position: absolute;
    z-index: 10;
    width: 3%;

}

.timeLineWrapper{
    /*display:inline-block;*/
    /*position:relative;*/
    bottom: 1.9vh;
    left: 35vw;
    width: 25vw;
    height: 9vh;

}

div.pca-wrapper{
    /*display: flex;*/
    /*align-items: center;*/
    margin-bottom: 5vh;
}


img.pca-image {
    top: 10vh;
    width: 28vw;
    height: 30vh;
    float: right;
    background-color: #ffffff;


}

.modal-content.pca{
    opacity: 1;
}

